black==19.10b
flake8-bugbear==20.1.4
flake8-comprehensions==3.2.2
flake8==3.7.9
git+ssh://git@github.com/shagunsodhani/ml-logger.git@master#egg=ml_logger
jupyter==1.0.0
matplotlib==3.0.3
mypy==0.761
nox==2019.11.9
numpy==1.16.3
pandas==0.25.3
pillow<7
pre-commit==2.0.1
psutil==5.7.0
pylint==2.3.1
pytest==4.4.1
torch==1.4.0
torchvision==0.5.0
typing-extensions==3.7.4.1
omegaconf==2.0.0rc13