black==19.10b
flake8-bugbear==20.1.4
flake8-comprehensions==3.2.2
flake8==3.8.2
hydra-core==1.0.0.rc1
jupyter==1.0.0
matplotlib==3.0.3
mllogger==0.6.rc2
mypy==0.770
nox==2019.11.9
numpy==1.16.3
pillow<7
pre-commit==2.4.0
psutil==5.7.0
pytest==5.4.2
sphinx-autodoc-annotation==1.0-1
sphinx-rtd-theme==0.4.3
sphinx==3.0.3
sphinxcontrib-napoleon==0.7
torch==1.5.0
torchvision==0.6.0
typing-extensions==3.7.4.2






